{{if .LoginURL}}
	<p><a href="{{.LoginURL}}">Login with Google account.</a><p>
	<p>
	  Or login with an OpenID provider:
	  <form method="POST" action="{{.OpenIDURL}}">
	    <input type="text" name="provider" value="" />
	    <input type="submit"  value="Login" />
	  </form>
	</p>
{{else}}
	{{if .Token}}
		<p>
			You are logged in and registered with user account <code>{{.Identifier}}</code>. <a href="{{.LogoutURL}}">Logout</a>.
		</p>
		<p>
			Your access token is <code>{{.Token}}</code>. <a href="{{.GenerateURL}}">Regenerate</a>.
		</p>
		<p>
			You have publish access to following vendors:
			<ul>
				{{range .Vendors}}
					<li>{{.}}</li>
				{{end}}
			</ul>
		</p>
	{{else}}
		<p>
			You are logged in with user account <code>{{.Identifier}}</code> but not registered yet.
		</p>
		<p>
			Choose vendor (user) name.
			<form method="POST" action="{{.RegisterURL}}">
				<input type="text" name="vendor" value="">
				<input type="submit" value="Register">
			</form>
		</p>
		<p>
			Or <a href="{{.LogoutURL}}">logout</a> and use different Google or OpenID account.
		</p>
	{{end}}
{{end}}
