{{with .Current}}
	{{if .Homepage}}
		<p>
			<a href="{{.Homepage}}">{{.Homepage}}</a>
		</p>
	{{end}}
	<p>
		{{.Doc}}
	</p>
	<p>
		Install <a href="/{{.Vendor}}/{{.Name}}/{{.Version}}">this version</a>:
	</p>
<pre>
nut get {{.Vendor}}/{{.Name}}/{{.Version}}
  -or-
nut get gonuts.io/{{.Vendor}}/{{.Name}}/{{.Version}}
</pre>
	<p>
		Install <a href="/{{.Vendor}}/{{.Name}}">latest version</a>:
	</p>
<pre>
nut get {{.Vendor}}/{{.Name}}
  -or-
nut get gonuts.io/{{.Vendor}}/{{.Name}}
</pre>
{{end}}

<p>
All versions:
<ul>
{{range .All}}
	<li><a href="/{{.Vendor}}/{{.Name}}/{{.Version}}">{{.Version}}</a> {{.CreatedAt.Format "January 2, 2006"}}</li>
{{end}}
</ul>
</p>
